<div style="padding-top:10px;">
</div>
<div class="container" style="display:block">
  <div class="card cover-bg" style="width: auto">
    <div class="shelf-container card-body" style="">
      <div class="container cover-image">
        <img src="https://covers.openlibrary.org/b/isbn/{{selectedBook.isbn}}-M.jpg" />
      </div>
      <hr/>
      <div class="container">
        <h5 class="card-title">{{selectedBook.title}}</h5>
        <div class="book-detail container">
        <h6 class="card-subtitle mb-2 text-muted">Author: {{selectedBook.author}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">ISBN: {{selectedBook.isbn}}</h6>
        <h6 class="card-subtitle mb-2 text-muted">Pages: {{selectedBook.pages}}</h6>
        </div>
      </div>
    </div>
    <hr />
    <div class="reviews-container container" style="display:flex;">
      <div class="container">
      <h2>Reviews</h2>
      </div>
      <div class="reviews-container container" style="padding-bottom:10px;">
         <button type="button" class="btn btn-primary" id="newReview">New Review</button>
      </div>
    </div>
    <div class="card" style="width:auto">
      <div class="card-body">
        <h5 class="card-title">{{selectedBook.title}}</h5>
        {{#each serializedReviews}}
        <h6 class="card-subtitle mb-2 text-muted" style="font-size: small;">{{body}}</h6>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="comments-container container">
    <div class="comments-heading">
      <h2>Comments</h2>
    </div>
    <div class="card" style="width: auto;">
      <div class="comments-card card-body">
        <h5 class="card-title">Comment Title</h5>
        <p class="card-text">Comment Content</p>
      </div>
    </div>
    <button type="button" class="btn btn-primary" id="newComment">New Comment</button>
  </div>
</div>
<script src="/js/newReview.js"></script>